.navbar {
    background: rgb(30, 30, 30);
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
    height: 3rem;
    width: 4rem;
    color: rgb(247, 247, 78);
}

.listItems {
   cursor: pointer;
   margin: 1rem;
   color: #fff;
}

.listItems:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid yellow;
}

.desktopMenuBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: black;
    border: none;
    outline: none;
    border-radius: 2rem;
}

.contactIcon {
    height: 1rem;
    width: 1rem;
    margin: 0.5rem;   
}
