.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url('../../assets/back.avif');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    
}

.profile-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

.profile-details-name {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24 0;   
}

.profile-details-role h1 {
    font-size: 40px;
    font-family: cursive;
}

.primary-text {
    color: white 
}

.highlighted-text {
    color: darkorange;
}

.profile-role-tagline {
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-options .highlighted-btn {
    margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover {
    margin: 0 0 0 28px;
    background-color: cornsilk;
    color: #111;

}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px wheat;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 0 0px 0 100px;
}

.profile-picture-background {
    height: 92%;
    width: 92%;
    background-image: url('../../assets/image1.jpg');
    background-size: cover;
    border-radius: 50%;
}

.profile-picture-background:hover {
   transform: scale(1.07);
   transition: 1s ease-in-out;
}

.colz .colz-icon a{
    color: white;
    padding: 8px;
    padding-left: 0px;
}

.colz .colz-icon a:hover{
 color: darkgoldenrod;
}